@using StackExchange.Opserver.Data.Elastic
@using StackExchange.Opserver.Views.Elastic
@model DashboardModel
@{
    Layout = "~/Views/Shared/Master.cshtml";
    this.SetPageTitle("elasticsearch Dashboard");
    this.SetTopNodes(ElasticCluster.AllClusters,
        "elastic clusters",
        Model.Current?.Cluster);
}
@section head {
    <script>
        $(function() {
            Status.Dashboard.init({ refresh: @(Model.Refresh ? (Model.View == DashboardModel.Views.Shards ? 60 : 5) : 0) });
            @if (Model.Current != null)
            {
            @:Status.Elastic.init({ cluster: '@Model.Current.ClusterName', node: '@Model.Current.NodeName' });
            }
        });
    </script>
}
@helper TabLink(DashboardModel.Views view, string href, string name, bool includeParams = true)
{
    var cc = Model.Current?.ClusterName;
    var cs = Model.Current?.NodeName;
    if (includeParams && cc != null && cs != null)
    {
        <li class="@(Model.View == view ? "active" : null)"><a href="@href?cluster=@cc.UrlEncode()&node=@cs.UrlEncode()">@name</a></li>
    }
    else
    {
        <li class="@(Model.View == view ? "active" : null)"><a href="@href">@name</a></li>
    }
}
<ul class="nav nav-tabs nav-tabs-right">
    @TabLink(DashboardModel.Views.Cluster, "/elastic", "clusters", false)
    @TabLink(DashboardModel.Views.Node, "/elastic/node", "node")
    @TabLink(DashboardModel.Views.Indices, "/elastic/indices", "indices")
</ul>
<div>
    @if (Model.View == DashboardModel.Views.Node && (Model.Current?.Node == null))
    {
        @Html.Partial("Node.Selector")
    }
    else if (Model.View == DashboardModel.Views.Indices && (Model.Current?.Cluster == null))
    {
        @Html.Partial("Cluster.Selector")
    }
    @RenderBody()
</div>