@using System.Collections.Specialized
@using StackExchange.Opserver.Data.Elastic
@using StackExchange.Opserver.Views.Elastic
@model DashboardModel
@{
    Layout = "~/Views/Shared/Master.cshtml";
    this.SetPageTitle("elasticsearch Dashboard");
    this.SetTopNodes(ElasticCluster.AllClusters,
        "elastic clusters",
        Model.CurrentCluster);
}
@section head {
    <script>
        $(function() {
            Status.Dashboard.init({ refresh: @(Model.Refresh.ToString()) });
            Status.Elastic.init({ cluster: '@Model.CurrentClusterName', node: '@Model.CurrentNodeName' });
        });
    </script>
}
@helper TabLink(DashboardModel.Views view, string href, string name, bool includeCluster = true, bool includeNode = false)
{
    var nvc=  new NameValueCollection();
    if (includeCluster && Model.CurrentClusterName.HasValue())
    {
        nvc.Add("cluster", Model.CurrentClusterName);
    }
    if (includeNode && Model.CurrentNodeName.HasValue())
    {
        nvc.Add("node", Model.CurrentNodeName);
    }
    var query = nvc.ToQueryString();

    <li class="@(Model.View == view ? "active" : null)"><a href="@href@query">@name</a></li>
}
<ul class="nav nav-tabs nav-tabs-right">
    @TabLink(DashboardModel.Views.AllClusters, "/elastic", "all clusters", false)
    @TabLink(DashboardModel.Views.Cluster, "/elastic/cluster", "cluster")
    @TabLink(DashboardModel.Views.Node, "/elastic/node", "node", includeNode: true)
    @TabLink(DashboardModel.Views.Indexes, "/elastic/indexes", "indexes")
</ul>
<div>
    @if (Model.View == DashboardModel.Views.Node && (Model.CurrentNode == null))
    {
        @Html.Partial("Node.Selector")
    }
    else if ((Model.View == DashboardModel.Views.Cluster || Model.View == DashboardModel.Views.Indexes) && (Model.CurrentCluster == null))
    {
        @Html.Partial("Cluster.Selector")
    }
    @RenderBody()
</div>