@model StackExchange.Opserver.Views.Login.LoginModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@SiteSettings.SiteNameLong</title>
        <link href="@Url.CacheBreaker("~/Content/themes/light/styles.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.CacheBreaker("~/Content/img/apple-touch-icon.png")" rel="apple-touch-icon" />
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="~/hub"></a>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-md-offset-4" style="margin-top: 50px;">
                    <h4 class="page-header">@SiteSettings.SiteNameLong Login</h4>
                    <form action="~/login" method="POST">
                        <div class="form-group form-group-sm">
                            <input type="hidden" name="url" value="@Request.QueryString["ReturnUrl"]" />
                            <input type="text" class="form-control" name="user" placeholder="Username" autofocus="autofocus" /> <br />
                            <input type="password" class="form-control" name="pass" placeholder="Password" /> <br />
                            <input type="submit" value="Log in" class="btn btn-primary btn-sm pull-right" />
                        </div>
                    </form>
                    @if (Model.ErrorMessage.HasValue())
                    {
                        <div class="error">
                            Error: @Model.ErrorMessage
                        </div>
                    }
                </div>
            </div>
        </div>
        <footer class="page-footer">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p>This site is for monitoring status of the Stack Exchange network.</p>
                    <p style="margin-bottom: 0;">site design / logo &copy; @DateTime.UtcNow.Year stack exchange, inc</p>
                </div>
            </div>
        </footer>
    </body>
</html>