@using StackExchange.Opserver
@using StackExchange.Opserver.Controllers
@model StackExchange.Exceptional.Error
@{
    Layout = null;
    var error = Model;
}
<div class="error-preview">
@if (error == null)
{
    <div class="alert alert-warning">
        <h5>Error not found.</h5>
        <p>The error was no longer found in the store.</p>
    </div>
}
else
{
    <h6 class="page-header">
        <strong>@error.Type</strong>
        <span class="pull-right">
            <a href="@Url.Action(nameof(ExceptionsController.Similar), new { id = error.GUID, log = error.ApplicationName })" title="View exceptions with the same message in the same log">View Similar</a>
            <span class="text-muted">|</span>
            <a href="@Url.Action(nameof(ExceptionsController.Similar), new { id = error.GUID, log = error.ApplicationName, byTime = true })" title="View exceptions within 5 minutes of this one">View Nearby</a>
            <span class="text-muted">|</span>
            <a class="text-danger js-clear-all" href="#" data-url="@Url.Action(nameof(ExceptionsController.DeleteSimilar))" data-log="@error.ApplicationName" data-id="@error.GUID"><span class="glyphicon glyphicon-remove"></span> Clear all similar</a>
        </span>
    </h6>
    <p class="small text-danger">@error.Message</p>
    <div class="error-info">
        <pre class="pre-code error-detail">@error.Detail</pre>
        <p class="small">occurred <b title="@error.CreationDate.ToLongDateString() at @error.CreationDate.ToLongTimeString()">@error.CreationDate.ToRelativeTime()</b> (@error.CreationDate.ToZuluTime()) on @error.MachineName
    </div>
}
</div>