@using StackExchange.Opserver.Data.SQL
@using StackExchange.Opserver.Views.SQL
@model DatabasesModel
@{
    var db = Model.Database;
}
<h4 class="modal-title">
    Database details for @db
</h4>
@helper RenderLink(DatabasesModel.Views view, string text, bool disabled = false)
{
    if (disabled)
    {
    <a href="javascript:void(0)" class="text-muted disabled">@text</a>
    }
    else
    {
    <a href="#/db/@Model.Database/@view.ToString().ToLower()" class="@(view == Model.View ? "active" : "")">@text</a>   
    }
}
<div class="row">
    <div class="navbar-left col-md-2">
        @RenderLink(DatabasesModel.Views.Tables, "Tables")
        @RenderLink(DatabasesModel.Views.Views, "Views")
        @RenderLink(DatabasesModel.Views.StoredProcedures, "Stored Procs")
        @RenderLink(DatabasesModel.Views.Backups, "Backups")
        @RenderLink(DatabasesModel.Views.Restores, "Restores")
        @RenderLink(DatabasesModel.Views.Storage, "Storage")
        @RenderLink(DatabasesModel.Views.MissingIndexes, "Missing Indexes", Model.Instance.Version < Singleton<SQLInstance.MissingIndex>.Instance.MinVersion)
        @RenderLink(DatabasesModel.Views.UnusedIndexes, "Unused Indexes", true)
        @RenderLink(DatabasesModel.Views.BlitzIndex, "Blitz Index", true)
    </div>
    <div class="col-md-10 js-database-modal-right">
        @RenderBody()
    </div>
</div>