@using StackExchange.Opserver.Data.SQL
@using StackExchange.Opserver.Views.SQL
@model DatabasesModel
@{
    Layout = "Databases.Modal.cshtml";
    var s = Model.Instance;
    var tables = s.GetTableInfo(Model.Database);
}
<div class="sql-tables">
    @if (tables.LastPollStatus == FetchStatus.Fail || tables.Data == null)
    {
        <div class="sql-server sql-error">
            <span class="error-label">There was an error fetching table info from status from @s.Name for @Model.Database</span>
            @tables.ErrorMessage
        </div>
    } else {
        <div>
            <table class="cluster-dashboard striped-dashboard" id="database-table">
                <thead>
                    <tr>
                        <th>Table</th>
                        <th>Rows</th>
                        <th>Indexes</th>
                        <th>Data Size</th>
                        <th>Index Size</th>
                        <th>Total Size</th>
                    </tr>
                </thead>
                <tbody class="node-group">
                    @foreach (var t in tables.Data.OrderBy(t => t.SchemaName).ThenBy(t => t.TableName))
                    {
                        <tr data-id="@t.Id" data-table="@(t.SchemaName).@(t.TableName)" title="@(t.SchemaName).@(t.TableName) created @t.CreationDate">
                            <td>
                                <span class="note">@(t.SchemaName).</span><span>@t.TableName</span>
                                @if (t.TableType == TableTypes.Heap)
                                {
                                    <span class="note"> (Heap)</span>
                                }
                            </td>
                            <td data-val="@t.RowCount">@t.RowCount.ToComma()</td>
                            <td data-val="@t.IndexCount">@t.IndexCount.ToComma()</td>
                            <td data-val="@t.DataTotalSpaceKB">@((t.DataTotalSpaceKB * 1024).ToSize().ToNoteIfNA())</td>
                            <td data-val="@t.IndexTotalSpaceKB">@((t.IndexTotalSpaceKB * 1024).ToSize().ToNoteIfNA())</td>
                            <td data-val="@t.TotalSpaceKB">@((t.TotalSpaceKB * 1024).ToSize().ToNoteIfNA())</td>
                        </tr>
                        if (t.SchemaName + "." + t.TableName == Model.ObjectName)
                        {
                            <tr class="tablesorter-childRow">
                                <td colspan="6">
                                    @Html.Partial("Databases.Modal.Tables.Columns", Model)
                                </td>
                            </tr>
                        }
                    }
                </tbody>
                <tfoot>
                    @if (tables.Data.Any())
                    {
                        <tr class="total-row">
                            <td><b>Total</b> <span class="note">(@tables.Data.Count().Pluralize("table"))</span></td>
                            <td>@(tables.Data.Sum(t => t.RowCount).ToComma())</td>
                            <td>@(tables.Data.Sum(t => t.IndexCount).ToComma())</td>
                            <td>@((tables.Data.Sum(t => t.DataTotalSpaceKB) * 1024).ToSize().ToNoteIfNA())</td>
                            <td>@((tables.Data.Sum(t => t.IndexTotalSpaceKB) * 1024).ToSize().ToNoteIfNA())</td>
                            <td>@((tables.Data.Sum(t => t.TotalSpaceKB) * 1024).ToSize().ToNoteIfNA())</td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td colspan="6"><div class="none-active">There aren't any tables in this database.</div></td>
                        </tr>
                    }
                </tfoot>
            </table>
            <script>
                $(function () {
                    $('#database-table').on('click', 'tr', function() {
                        var tableName = $(this).data('table');
                        if (tableName) {
                            window.location = '#/db/@(Model.Database)/tables/' + tableName;
                        }
                    });
                    $('#database-table').tablesorter({
                        headers: {
                            1: { sorter: 'dataVal', sortInitialOrder: 'desc' },
                            2: { sorter: 'dataVal', sortInitialOrder: 'desc' },
                            3: { sorter: 'dataVal', sortInitialOrder: 'desc' },
                            4: { sorter: 'dataVal', sortInitialOrder: 'desc' },
                            5: { sorter: 'dataVal', sortInitialOrder: 'desc' },
                            6: { sorter: 'dataVal', sortInitialOrder: 'desc' }
                        }
                    });
                });
            </script>
        </div>
    }
</div>