@using StackExchange.Opserver.Data.Dashboard
@using StackExchange.Opserver.Models
@{
    var nodes = DashboardData.AllNodes;
    var groups = nodes.GroupBy(n => n.Category).OrderBy(g => g.Key.Index).ToList();
}
<div class="panel panel-default">
    <div class="panel-heading">@nodes.GetWorstStatus().IconSpan() @nodes.Count.Pluralize("Node")</div>
    <div class="panel-body">
        @*<div class="col-xs-4">
            @Gauges.Circle("Node", nodes)
        </div>*@
        <table class="table table-super-condensed table-striped col-md-12">
            <tbody>
                <tr>
                    <th>Group</th>
                    <th>Nodes</th>
                    <th>Network</th>
                </tr>
                @foreach (var g in groups)
                {
                    <tr>
                        <td>@g.Key.Name</td>
                        <td>@Helpers.HealthDescription(g)</td>
                        <td>@g.Sum(n => n.TotalPrimaryNetworkbps < 0 ? 0 : n.TotalPrimaryNetworkbps).ToSpeed()</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr class="total-row">
                    <td><strong>Total</strong></td>
                    <td>@Helpers.HealthDescription(nodes)</td>
                    <td>@nodes.Sum(n => n.TotalPrimaryNetworkbps < 0 ? 0 : n.TotalPrimaryNetworkbps).ToSpeed()</td>
                </tr>
            </tfoot>
        </table>
        <table class="table table-super-condensed table-striped col-md-12">
            <tbody>
                <tr>
                    <th>Node</th>
                    <th>CPU</th>
                    <th>Memory</th>
                    <th>Network</th>
                </tr>
                @foreach (var n in nodes) {
                    <tr>
                        <td title="@(n.IsVM ? "Virtual Machine hosted on " + n.VMHost.PrettyName + " " : null)Last Updated: @(n.LastSync?.ToRelativeTime())">
                            @n.IconSpan()
                            <a href="~/dashboard/node?node=@n.PrettyName" class="@n.TextClass().Nullify()">@n.PrettyName</a>
                        </td>
                        <td title="@n.ApplicationCPUTextSummary().Nullify()" class="@n.CPUMonitorStatus().TextClass().Nullify()">@(n.CPULoad?.ToString("n0")) %</td>
                        <td>@(n.PercentMemoryUsed?.ToString("n2", CultureInfo.InvariantCulture))%</td>
                        <td>@n.PrettyTotalNetwork()</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>