@using StackExchange.Opserver.Data.Dashboard
@using StackExchange.Opserver.Models
@model Node
@helper Graph(Interface i, string type)
{
    <img class="dashboard-spark" src="/graph/interface/@type.ToLower()/spark?host=@Model.Host&iface=@i.Tag"  width="@Current.ViewSettings.SparklineChartWidth" height="@Current.ViewSettings.SparklineChartHeight" alt="" data-host="@Model.Host" data-iface="@i.Tag" data-name="@i.PrettyName" />
}
<table class="node-dashboard main-dashboard interface-dashboard striped-dashboard">
    <thead>
        <tr class="category-row">
            <th colspan="8"><div>@Model.Interfaces.Count().Pluralize("Interface") on @Model.PrettyName</div></th>
        </tr>
        <tr class="sort-row">
            <th></th>
            <th>Interface</th>
            <th>Speed</th>
            <th>In</th>
            <th></th>
            <th>Out</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="node-group">
        @foreach (var i in Model.Interfaces.OrderBy(i => i.Name))
        {
            <tr class="@i.MonitorStatus.RowClass()">
                <td>@i.IconSpan()</td>
                <td class="@(Model.PrimaryInterfaces.Contains(i) ? "primary-interface" : "")" title="@i.Description" data-val="@i.Tag">
                    @i.PrettyName
                </td>
                <td class="nowrap@(i.LinkSpeed > 10L * 1000 * 1000 * 1000 ? " very-fast" : i.LinkSpeed >= 10L * 1000 * 1000 * 1000 ? " fast" : "")" data-val="@string.Format("{0:F0}", i.LinkSpeed)">@i.PrettySpeed</td>
                <td data-val="@string.Format("{0:F0}", i.LastInbps)">@i.PrettyIn()</td>
                <td data-val="@string.Format("{0:F0}", i.LastInbps)">@Graph(i, "in")</td>
                <td data-val="@string.Format("{0:F0}", i.LastOutbps)">@i.PrettyOut()</td>
                <td data-val="@string.Format("{0:F0}", i.LastOutbps)">@Graph(i, "out")</td>
            </tr>
        }
    </tbody>
</table>
<script>
    $('.node-group').on('click', '.dashboard-spark', function () {
        $('#dashboard-chart').empty().networkGraph({ host: $(this).data('host'), iface: $(this).data('iface'), title: 'Network Utilization', subtitle: $(this).data('name') });

        $('#spark-detail').modal({
            overlayClose: true,
            onClose: function (dialog) {
                dialog.data.fadeOut('fast', function () {
                    dialog.container.hide('fast', function () {
                        $.modal.close();
                    });
                });
            }
        });
    })
</script>