@using StackExchange.Profiling
@{
    Layout = null;
}
@functions
{
    void RenderTab(NavTab tab)
    {
        if (tab.IsEnabled)
        {
            // Optimism!
            using (MiniProfiler.Current.Step("Render Tab: " + tab.Name))
            {
                int? badgeCount = null;
                string tooltip = null;
                if (tab.Module is IOverallStatusCount sc)
                {
                    badgeCount = sc.Count;
                    tooltip = sc.Tooltip;
                }
                        <li class="@(tab == Current.NavTab ? "active" : null)">
                            <a href="@Url.Action(tab.Action, tab.Controller)" title="@tooltip">
                                <span class="@(tab.Module.MonitorStatus.TextClass())">@tab.Name</span>
                                @if (badgeCount > 0)
                                {
                                    <span class="badge" data-name="@tab.Name">@badgeCount.ToComma()</span>
                                }
                            </a>
                        </li>
            }
        }
    }
}
@using (MiniProfiler.Current.Step("TopTabs"))
{
    <ul class="nav navbar-nav navbar-right js-top-tabs">
        @*@foreach (var tab in NavTab.Tabs)
        {
            RenderTab(tab);
        }*@
    </ul>
}