@using StackExchange.Opserver.Data.PagerDuty
@model OnCall
<tr class="@Model.RowClass()" title="@Model.MonitorStatusReason">
    <td>@Model.AssignedUser.FullName</td>
    <td>
        @if (Model.IsPrimary)
        {
            <b>@Model.EscalationLevelDescription</b>
        }
        else
        {
            @Model.EscalationLevelDescription
        }
        @if (Model.Schedule != null)
        {
            @:(@Model.Schedule.Title)
        }
        @if (Model.IsOverride)
        {
            <span class="text-muted">(<strong class="text-danger">Override</strong>)</span>
        }
    </td>
    <td><a href="mailto:@Model.AssignedUser.Email">@Model.AssignedUser.Email</a></td>
    <td>@PagerDutyAPI.Instance.AllUsers.Data.FirstOrDefault(u => u.Id == @Model.AssignedUser.Id).Phone</td>
</tr>