@using StackExchange.Opserver.Data.PagerDuty
@model OnCallAssignment
<tr class="@Model.RowClass()" title="@Model.MonitorStatusReason">
    <td class="name">@Model.Person.FullName</td>
    <td class="@(Model.IsPrimary ? "bold" : null)">@Model.EscalationLevelDescription @if (Model.IsOverride){<text>(<b class="critical">Override</b>)</text>}</td>
    <td><a href="mailto:@Model.Person.Email">@Model.Person.Email</a></td>
    <td>@Model.Person.Phone</td>
</tr>