@model StackExchange.Opserver.Data.PagerDuty.PagerDutyIncident
@{
    Layout = null;
    this.SetPageTitle("PagerDuty Incident Email");
    var acked = Model.AcknowledgedBy != null && Model.AcknowledgedBy.Any() ? "List" : "Nobody";
    var isSubjectOnly = Model.SummaryData != null && Model.SummaryData.Count == 1 && Model.SummaryData.ContainsKey("subject");
}
<div class="incident-details">
    <h3>Incident Detail: @Model.Number</h3>
    <ul>
        @if (isSubjectOnly)
        {
            <li><span class="key">Subject:</span> <span class="value">@Model.SummaryData["subject"]</span></li>
        }
        <li><span class="key">Service:</span> <span class="value">@Model.AffectedService.Name</span></li>
        <li><span class="key">Link:</span> <span class="value"><a href="@Model.Uri" target="_blank">@Model.Uri</a></span></li>
        <li><span class="key">Status:</span> <span class="bold @Model.MonitorStatus.Class()">@Model.Status.ToTitleCase()</span></li>
        <li><span class="key">Acknowledged By:</span> <span class="value">@acked</span></li>
        @if (Model.ResolvedBy != null)
        {
            <li><span class="key">Resolved By:</span> <span class="value">@Model.ResolvedBy.FullName</span></li>
        }
        @if (Model.LastChangedBy != null)
        {
            <li><span class="key">Last Change:</span> <span class="value">@Model.LastChangedBy.FullName - @Model.LastChangedOn.ToRelativeTimeSpan()</span></li>
        }
        <li>
            @if (!isSubjectOnly && Model.SummaryData != null && Model.SummaryData.Any())
            {
                <table>
                    <thead>
                    <tr>
                        <th colspan="2">Summary</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var s in Model.SummaryData)
                    {
                        <tr>
                            <td class="bold">@s.Key</td>
                            <td>@s.Value</td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
        </li>
    </ul>
    <hr/>
    <table class="striped-dashboard">
        <tbody class="node-header">
        <tr class="category-row">
            <th colspan="8">
                <h3>
                    incident Log
                </h3>
            </th>
        </tr>
        <tr>
            <th>Time</th>
            <th>Type</th>
            <th>Message</th>
            <th>>Notes</th>
        </tr>
        @foreach (var l in @Model.IncidentLogs)
        {
            <tr>
                <td>@l.CreationTime.ToRelativeTimeSpan()</td>
                <td>@l.LogType.ToTitleCase()</td>
                <td>@l.Detail.Message</td>
                <td>@l.Note</td>
            </tr>
        }



        </tbody>
    </table>
    
</div>