@model StackExchange.Opserver.Data.PagerDuty.OnCallAssignment
<tr>
    <td class="name">@Model.Person.FullName</td>
    <td class="@(Model.IsPrimary ? "bold": null)">@Model.EscalationLevelDescription</td>
    <td><a href="mailto:@Model.Person.Email">@Model.Person.Email</a></td>
    <td>@Model.Person.Phone</td>
</tr>