@using System.Text
@using StackExchange.Opserver.Data.PagerDuty
@using StackExchange.Opserver.Views.PagerDuty

@model PagerDutyModel
@{
    Layout = "~/Views/Shared/Master.cshtml";
    this.SetPageTitle("PagerDuty");
    //this.SetTopNodes();
    //this.SetMainTab(MainTab.PagerDuty);

}




<div class="dashboard-list">
    <table class="node-dashboard main-dashboard">
        <tbody class="node-header">
        <tr class="category-row">
            <th colspan="8">
                <h1>On Call</h1>
            </th>
        </tr>
        <tr>
            <th>Name</th>
            <th>Level</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
        <tr>
            <td>@Model.PrimaryOnCall.FullName</td>
            <td>Primary</td>
            <td>@Model.PrimaryOnCall.Email</td>
            <td>@Model.PrimaryOnCall.ContactMethods.First(c => c.Type == "phone").Address</td>
        </tr>
        <tr>
            <td>@Model.EscalationOnCall.FullName</td>
            <td>Escalation</td>
            <td>@Model.EscalationOnCall.Email</td>
            <td>@Model.EscalationOnCall.ContactMethods.First(c => c.Type == "phone").Address</td>
        </tr>
        </tbody>

    </table>

</div>

