@using StackExchange.Opserver.Data.PagerDuty
@model OnCallAssignment
<tr class="@Model.RowClass()" title="@Model.MonitorStatusReason">
    <td>@Model.Person.FullName</td>
    <td>
        @if (Model.IsPrimary)
        {
            <strong>@Model.EscalationLevelDescription</strong>
        }
        else
        {
            @Model.EscalationLevelDescription
        }
        @if (Model.IsOverride)
        {
            <span class="text-muted">(<strong class="text-danger">Override</strong>)</span>
        }
    </td>
    <td><a href="mailto:@Model.Person.Email">@Model.Person.Email</a></td>
    <td>@Model.Person.Phone</td>
</tr>