@model DashboardModel
@{
    Layout = "~/Views/Shared/Master.cshtml";
    this.SetPageTitle("Cloudflare Dashboard");
}
@section head {
    <script>
        $(function() {
            Status.Dashboard.init({ refresh: 30 });
        });
    </script>
}
@functions
{
    string TabLink(DashboardModel.Views view, string action, string name)
    {
        <li class="@(Model.View == view ? "active" : null)"><a href="@Url.Action(action)">@name</a></li>
        return null;
    }
}
<ul class="nav nav-tabs nav-tabs-right">
    @TabLink(DashboardModel.Views.DNS, nameof(CloudflareController.DNS), "DNS")
</ul>
@RenderBody()
